@media screen and (min-width: 280px) {
  .desktop-menu {
    &-item {
      position: relative;
      left: -80px;
      top: 50px;
    }
  }

  .top {
    padding-top: 0;
  }

  .headline-bg-cover {
    background-image: initial;
  }

  .mobile-cover {
    width: 100%;
    background-image: url('../img/header-illsutration-mobile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
  }

  .content > .row {
    h2 {
      width: 60vw;
    }

    p {
      font-size: 14px;
      line-height: 26px;
    }
  }

  .card {
    width: 260px;

    &-details > ul > li {
      padding: 6px;
      font-size: 9px;
    }
  }
}

@media screen and (min-width: 320px) {
  .desktop-menu {
    &-item {
      left: -100px;
    }
  }

  .action {
    margin: 25px auto;
  }

  .top {
    padding-top: 10px;
  }

  .card {
    width: 300px;

    &-details > ul > li {
      padding: 6px 8px;
      font-size: 11px;
    }
  }

  .contact-button {
    margin-left: 6px;
  }
}

@media screen and (min-width: 375px) {
  .desktop-menu {
    &-item {
      left: -140px;
    }
  }

  .mobile-cover {
    height: 660px;
  }

  .content > .row {
    width: 100%;
    margin: 0 auto;

    h1 {
      font-size: 36px;
      margin-top: 15px;
    }

    p {
      font-size: 17px;
      margin-top: 25px;
    }
  }

  .action {
    margin: 25px auto;
  }

  .card {
    width: 350px;
    margin: 10px auto;

    &-details > ul > li {
      padding: 6px 10px;
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 540px) {
  .desktop-menu {
    &-item {
      left: -220px;
    }
  }

  .mobile-cover {
    height: 920px;
  }

  .content > .row {
    h1 {
      font-size: 43px;
      margin-top: 105px;
    }

    p {
      font-size: 19px;
      line-height: 36px;
    }
  }

  .card {
    width: 460px;

    &-details > ul > li {
      padding: 6px 20px;
      font-size: 12px;
    }
  }

  .simple-card {
    grid-template-rows: 190px 240px;

    .card-details {
      ul > li {
        padding: 8px 21px;
        font-size: 15px;
      }
    }

    .card-image > img {
      margin-top: 55px;
      width: 155px;
    }
  }

  .contact > .text {
    width: 70%;
    margin: auto;
  }

  .contact-button {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .desktop-menu {
    &-item {
      left: -200px;
    }
  }

  .top {
    padding-top: 50px;
  }

  .content > .row {
    h1 {
      font-size: 43px;
      margin-top: 125px;
    }

    p {
      font-size: 21px;
    }
  }

  .action {
    margin-top: 25px;
    width: 60px;
    height: 60px;

    span {
      width: inherit;
      height: inherit;
      border-radius: 50%;

      .fas {
        font-size: 25px;
      }
    }
  }

  .row > .social-icons {
    width: 400px;
    margin-top: 50px;
  }

  .contact {
    margin-top: 108px;
  }

  .card {
    width: 560px;
    grid-template-rows: 302px 352px;

    &-details > ul > li {
      padding: 6px 26px;
      font-size: 16px;
    }

    &-details {
      h3 {
        font-size: 44px;
      }
    }
  }

  .card-btn {
    width: 170px;
    height: 50px;
  }

  .simple-card {
    grid-template-rows: 200px 260px;

    .card-details {
      ul > li {
        padding: 8px 32px;
        font-size: 18px;
      }
    }

    .card-image > img {
      margin-top: 55px;
      width: 155px;
    }
  }

  .contact-button {
    margin-left: 12px;
  }
}

@media screen and (min-width: 992px) {
  .mobile-menu,
  .desktop-mobile-menu-item {
    display: none;
  }

  .content > .row {
    h1,
    p {
      width: 60%;
    }
  }

  .mobile-cover {
    background-image: initial;
  }

  .headline-bg-cover {
    background-image: url('../img/Header-llustration-desktop.png');
  }

  .desktop-menu {
    display: flex;
    transform: translaty(1px);
    background-color: lighten($color: $secondary-color, $amount: 100%);
    position: fixed;
    top: 0;
    left: 5px;
    width: 100%;
    justify-content: center;
    height: 55px;
    align-items: center;

    &-item {
      position: static;
      margin: 0 25px;
      padding: 20px 0;
    }
  }

  footer {
    .social-icons {
      width: 45%;

      li > a > .fab {
        font-size: 24px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    flex-flow: row wrap;
  }

  .card {
    width: 305px;

    &-details > ul > li {
      padding: 6px 10px;
      font-size: 10px;
    }

    &-details {
      h3 {
        font-size: 32px;
      }
    }
  }

  .card-btn {
    width: 135px;
    height: 40px;
  }

  .simple-card {
    grid-template-rows: 140px 200px;

    .card-details {
      ul > li {
        padding: 8px 14px;
        font-size: 10px;
      }
    }

    .card-image > img {
      margin-top: 15px;
      width: 125px;
    }
  }

  .contact-button {
    margin-left: 8px;
  }

  .contact {
    grid-template-columns: 37% 60%;
    grid-template-rows: 302px;

    .text > h4 {
      text-align: left;
      margin-left: 15px;
    }
  }

  footer {
    .social-icons {
      width: 40%;

      li > a > .fab {
        font-size: 24px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  main,
  footer {
    width: 1200px;
    margin: auto;
  }

  footer {
    margin-top: -18px;

    .social-icons {
      width: 60%;

      li > a > .fab {
        font-size: 40px;
      }
    }
  }

  .desktop-menu {
    position: relative;
    margin: 0;
    left: 0;
  }

  .row > h1 {
    font-size: 54px;
  }

  .content > .row > h1 {
    font-size: 46px;
  }

  .content > .row > p {
    font-size: 26px;
    line-height: 38px;
  }

  .card {
    width: 360px;

    &-details > ul > li {
      padding: 6px 11px;
      font-size: 13px;
    }

    &-details {
      h3 {
        font-size: 36px;
      }
    }
  }

  .contact {
    grid-template-columns: 38% 60%;
  }

  .contact > .text {
    width: 90%;
  }
}
