@import 'resets';
@import 'config';

body {
  background-color: $secondary-color;
  color: $color;
  font-family: #{get-font-family('poppins')};
  font-weight: get-font-weight('medium');
}

ul {
  list-style-type: none;
  color: inherit;
}

button {
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 22px;

  @include tranisition-all;

  &:hover {
    cursor: pointer;
    font-size: 29px;
    color: $primary-color;

    @include tranisition-all;
  }

  &.active {
    color: $secondary-color;
    font-size: 18px;
  }
}

main {
  width: 100vw;
  background-color: lighten($color: $secondary-color, $amount: 100%);
}

.headline-bg-cover {
  width: 100%;
  background-image: url('../img/Header-llustration-desktop.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1020px;
}

%x-color {
  background-color: $alternative-color;
}

%bread-crumb-before {
  transform: rotate(45deg) translateY(10px);
}

%bread-crumb-after {
  transform: rotate(-45deg) translateY(6px);
}

.mobile-menu {
  justify-content: center;
  width: 99%;
  margin: 0 auto;
  height: 55px;

  @include flex-items;

  a {
    width: 20%;
    color: inherit;
  }

  &-button {
    width: 50%;
    position: relative;
    justify-content: space-evenly;
    flex-flow: column;

    @include flex-items;

    &-item {
      position: absolute;
      width: 30px;
      height: 3px;
      margin: 0 auto;
      top: -2px;
      left: 65%;

      @extend %x-color;

      @include tranisition-all;

      &::before {
        position: inherit;
        content: '';
        top: -8px;
        left: 0;
        height: inherit;
        width: inherit;

        @extend %x-color;

        @include tranisition-all;
      }

      &::after {
        position: inherit;
        content: '';
        top: 8px;
        left: 0;
        height: inherit;
        width: inherit;

        @extend %x-color;

        @include tranisition-all;
      }

      &.open {
        transform: rotate(720deg);
        background-color: transparent;

        &::before {
          @extend %bread-crumb-before;
          @extend %x-color;
        }

        &::after {
          top: -5px;
          left: -11px;

          @extend %bread-crumb-after;
          @extend %x-color;
        }
      }

      &:hover {
        cursor: inherit;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.desktop-menu {
  display: none;
  background-color: lightness($color: $secondary-color);
  cursor: pointer;

  @include tranisition-all;

  &-item {
    width: 12%;
    text-align: center;
    margin: auto;

    &:hover {
      background-color: lighten($color: $secondary-color, $amount: 100%);
      color: $primary-color;
      font-weight: get-font-weight('bold');
      font-family: #{get-font-family('inter')};
      border-bottom: 2px solid $primary-color;

      @include tranisition-all;
    }

    &.active {
      color: darken($color: $primary-color, $amount: 20%);
    }
  }

  &.open {
    flex-flow: column wrap;
    width: 100%;
    height: 90vh;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: lighten($color: $secondary-color, $amount: 25%);
    margin: 0 auto;
    justify-content: flex-start;
    transform: translateY(0);
    border-bottom: 2px solid $secondary-color;
    position: relative;
    top: -50px;

    @include flex-items;
    @include tranisition-all;

    .desktop-menu-item {
      margin: 15px auto;
      padding: 2px 0;

      @include tranisition-all;

      a {
        font-size: 21px;
        color: $color;
      }
    }

    .desktop-mobile-menu-item {
      position: fixed;
      right: 75px;
      top: 25px;

      .mobile-menu-button-item {
        transform: rotate(720deg);
        background-color: transparent;

        &::before {
          @extend %bread-crumb-before;
          @extend %x-color;
        }

        &::after {
          top: -5px;
          left: -11px;

          @extend %bread-crumb-after;
          @extend %x-color;
        }
      }
    }
  }
}

%h {
  font-weight: get-font-weight('bold');
  font-size: 40px;
  line-height: 52px;
  font-family: #{get-font-family('inter')};
  letter-spacing: 0.37px;
}

.top {
  padding-top: 80px;
}

.action {
  width: 60px;
  height: 50px;
  margin: 5px auto;
  text-align: center;
  user-select: none;
  cursor: pointer;

  span {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    justify-content: center;
    background: lighten($color: $secondary-color, $amount: 100%);
    border: 1px solid $secondary-color;
    border-radius: 32px;
    transition: 0.3s;

    @include flex-items;

    &:hover {
      background-color: $secondary-color;
      border: 1px solid $primary-color;
      color: $primary-color;
    }
  }
}

.content {
  width: 96%;
  margin: 18px auto;

  .row {
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;

    @include flex-items;

    h1,
    p {
      width: 96%;
      margin: 0 auto;
      font-style: normal;
      color: darken($color: $secondary-color, $amount: 65%);
      text-align: center;
    }

    h1 {
      @extend %h;

      span {
        color: $primary-color;
      }
    }

    p {
      font-weight: get-font-weight('regular');
      font-size: 18px;
      line-height: 28px;
      margin-top: 15px;
    }

    h2 {
      font-family: #{get-font-family('poppins')};
      font-size: 36px;

      @extend %h;
    }

    .underline {
      width: 30%;
      margin: 10px auto;
      background-color: $primary-color;
      height: 4px;
      border-radius: 4px;
    }
  }
}

.social-icons {
  height: 48px;
  justify-content: space-evenly;
  width: 220px;
  margin: 25px auto;

  @include flex-items;

  li > a > .fab {
    font-size: 20px;

    &:hover {
      color: $primary-color;
      font-size: 55px;

      @include tranisition-all;
    }
  }
}

.cards {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 45px auto;

  @include flex-items;
}

.card {
  width: 327px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 252px 222px;
  margin: 15px auto;
  border-radius: 8px;
  background-color: $secondary-color;
  border: 1px solid darken($color: $secondary-color, $amount: 10%);

  &-image {
    width: 100%;
    background-color: inherit;
    color: transparent;

    img {
      width: inherit;
      height: 100%;
    }
  }

  &-details {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lighten($color: $secondary-color, $amount: 100%);

    @include flex-items;

    h3 {
      font-family: #{get-font-family('vol')};
      font-style: normal;
      font-weight: get-font-weight('bold');
      font-size: 28px;
      line-height: 32px;
      text-align: center;
      color: darken($color: $secondary-color, $amount: 55%);
    }

    ul > li {
      float: left;
      margin: 5px;
      background-color: $secondary-color;
      padding: 8px 10px;
      border-radius: 4px;
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.03em;
      color: $color;
    }
  }
}

.card-btn {
  width: 150px;
  height: 40px;
  margin: 5px auto;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  background: darken($color: $primary-color, $amount: 1%);
  border-radius: 5px;
  font-family: #{get-font-family('vol')};
  color: lighten($color: $secondary-color, $amount: 100%);

  &:hover {
    background-color: lighten($color: $secondary-color, $amount: 100%);
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    cursor: pointer;
  }

  &.resume-btn {
    border-radius: 0;
    margin-top: 25px;
  }
}

.top-back-cover {
  width: inherit;
  background-image: url('../img/MaskGroup.png');
  background-position: top right;
  background-repeat: no-repeat;
}

.bottom-back-cover {
  width: inherit;
  background-image: url('../img/illustration-about-mobile.png');
  background-position: bottom left;
  background-repeat: no-repeat;
}

.simple-card {
  grid-template-rows: 160px 220px;

  .card-details {
    background-color: $secondary-color;

    ul {
      justify-content: space-evenly;
      flex-wrap: wrap;

      @include flex-items;

      li {
        float: none;
        background-color: lighten($color: $secondary-color, $amount: 100%);
        color: $primary-color;
        padding: 8px 16px;
        font-size: 12px;
      }
    }
  }

  .card-image > img {
    margin-top: 35px;
    width: 125px;
  }
}

%text {
  width: 100%;
  flex-direction: column;
  justify-content: center;

  @include flex-items;
}

.contact {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 102px;
  align-items: center;
  justify-items: stretch;
  column-gap: 20px;
  margin: auto;
  text-align: center;

  &.text {
    @extend %text;

    h4 {
      font-size: 26px;
      font-style: normal;
      font-weight: get-font-weight('medium');
      line-height: 32px;
      text-align: center;
      color: $color;
      width: 80%;
      margin: auto;
    }
  }

  form {
    input,
    textarea {
      outline: none;
    }

    .name-input-wrapper,
    .input-wrapper {
      width: 97%;
      margin: 10px auto;
      justify-content: space-between;

      @include flex-items;
    }

    .contact-button {
      width: 150px;
      height: 26px;
      background: $primary-color;
      color: lighten($color: $secondary-color, $amount: 100%);
      font-family: #{get-font-family('poppins')};

      &:hover {
        background-color: $secondary-color;
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        cursor: pointer;
        font-weight: get-font-weight('medium');

        @include tranisition-all;
      }
    }
  }

  .error {
    width: 97%;
    height: 30px;
    background-color: lighten($color: $error-color, $amount: 40%);
    color: $error-color;
    border-radius: 2px;
    font-size: 12px;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .name-input-wrapper > input {
    width: 49%;
  }

  .name-input-wrapper > input,
  .input-wrapper > input,
  .input-wrapper > textarea {
    font-size: 15px;
    line-height: 24px;
    color: darken($color: $secondary-color, $amount: 45%);
  }

  .name-input-wrapper > input,
  .input-wrapper > input {
    border: 1px solid $secondary-color;
    border-radius: 4px;
    height: 32px;
  }

  .input-wrapper > input,
  .input-wrapper > textarea {
    width: 100%;
  }

  .input-wrapper > textarea {
    height: 125px;
    background: lighten($color: $secondary-color, $amount: 45%);
    border: 1px solid lighten($color: $primary-color, $amount: 20%);
    box-sizing: border-box;
    border-radius: 4px;
  }
}

label {
  display: none;
}

/* Card modal */

.contact-cover-right {
  width: inherit;
  background-image: url('../img/contact-form-illustratoin-3-desktop.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 105px;
}

.contact-cover-left {
  width: inherit;
  height: 125px;
  background-image: url('../img/illustration-1-contact-form-desktop.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 85px;
}

.center-cover {
  width: inherit;
  height: inherit;
  background-image: url('../img/illustration-2-contact-form-desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}

hr {
  width: 99%;
  color: $secondary-color;
  margin: 0 auto;
}

footer {
  margin-top: -18px;
  background: lighten($color: $secondary-color, $amount: 100%);
  overflow: hidden;
}

@import 'media';
