/* Project: Personal Portfolio
   Author: Calvince
   Date: 6/02/2021
*/

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* General body rules */

body {
  background: #e5e5e5;
}

/* Main container rules */

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

/* Top Navigation Rules */
#TopNavigation {
  position: absolute;
  width: 100%;
  height: 72px;
}

#ItemNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 255px;
  height: 40px;
  top: 16px;
  margin: auto;
}

.menu-item {
  padding: 10px 12px;
  width: 83px;
  height: 40px;
  left: 172px;
  flex: none;
  margin: 0 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #344563;
}

/* Headline section */

.headline {
  position: relative;
  width: 100%;
  height: 96px;
  top: 168px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #172b4d;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.headline h2 {
  color: #36b37e;
  margin-bottom: 20px;
}

.headline p {
  font-size: 18px;
  color: #172b4d;
  line-height: 30px;
  align-items: center;
}

.headline > h1,
.headline > h2,
.headline > p {
  text-align: center;
  padding: 5px;
}
