/* Project: Personal Portfolio
   Author: Calvince
   Date: 6/02/2021
*/

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General body rules */

body {
  background: #e5e5e5;
}

a {
  text-decoration: none;
  color: #28352f;
}

ul {
  text-decoration: none;
}

header,
main,
footer {
  background-color: white;
  max-width: 375px;
  margin: auto;
}

#submit-button:hover {
  background-color: #04020c;
  transition: 0.25s ease-in-out;
}

/* Top Menu */

#menubar {
  width: 365px;
  height: 50px;
  position: relative;
  top: 15px;
  margin: auto;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 10px 20px 5px 0;
}

.hamburger > span {
  position: absolute;
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
}

.hamburger span:nth-child(1) {
  top: 5px;
}

.hamburger span:nth-child(2) {
  top: 12px;
}

.hamburger span:nth-child(3) {
  top: 19px;
}

.headine-wraper {
  width: 375px;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px auto;
  background-image: url("../img/header-back.png");
}

.headline {
  position: relative;
  top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: #172b4d;
}

.headline h1,
.works-container > .header {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 58px;
  color: #172b4d;
  letter-spacing: 0.35px;
}

.headline span {
  color: #36b37e;
}

.headline p {
  color: #172b4d;
  line-height: 30px;
  margin: 30px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.social {
  width: 200px;
  min-height: 25px;
  position: relative;
  top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.social span {
  color: #505f79;
  font-size: 35px;
  font-weight: 900;
}

/* scroll button section */

.scroll-button {
  width: 327px;
  height: 48px;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.scroll-button span {
  width: 40px;
  height: 40px;
  display: flex;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

/* Works Section */

.works-container {
  width: 375px;
  position: relative;
  top: 25px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  flex-direction: column;
}

.works-container > .header {
  width: 100%;
  padding: 35px 0;
  text-align: center;
}

.works-container > .header > #underline {
  width: 48px;
  height: 4px;
  background: #36b37e;
  margin: 45px auto;
  border-radius: 24px;
}

.card {
  width: 327px;
  margin: 15px auto;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 252px 222px;
}

.card > .project-image {
  background: #eef0ee;
}

.card > .project-info {
  background: #fff;
  display: flex;
  margin-top: -5px;
  flex-direction: column;
  justify-content: space-around;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  align-items: center;
}

.card > .project-info > .project-name {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
}

.card > .project-info .skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  flex: none;
  margin: 0 8px;
  width: 99%;
  justify-content: space-between;
}

.card > .project-info .skills > li {
  background: #ebf0ee;
  height: 30px;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.project-button {
  width: 148px;
  height: 58px;
  margin: 0 auto 25px auto;
}

.card > .project-info > .project-button > button,
.contact > form > .project-button > button {
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
  height: 100%;
  background: #36b37f;
  cursor: pointer;
}

/* About me section */
.about-wraper {
  background-image: url("../img/illustration1.png");
  background-position: right top;
  background-repeat: no-repeat;
  width: 375px;
  margin: 40px auto;
}

.about-wraper > .about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 315px;
  margin: 35px auto;
  text-align: center;
}

.about-wraper > .about > h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 30px auto;
}

.about-wraper > .about > p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #172b4d;
}

.about-wraper > .about-button {
  width: 100%;
  background-image: url("../img/illustration2.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 52px;
  align-items: center;
  text-align: center;
}

.about-wraper > .about-button > button {
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 46%;
  height: 100%;
  background: #36b37f;
  cursor: pointer;
}

.about-wraper > .simple-card {
  width: 327px;
  height: 352px;
  margin-top: 45px;
  background: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-wraper > .simple-card > .image {
  margin-top: -1px;
}

.about-wraper > .simple-card > .outline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-wraper > .simple-card > .outline-wrapper > .details > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 22px;
  color: #172b4d;
  margin: 30px auto;
}

.about-wraper > .simple-card > .outline-wrapper > .items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  margin: 0 8px;
  width: 99%;
  justify-content: center;
  color: #36b37e;
  flex-wrap: wrap;
}

.about-wraper > .simple-card > .outline-wrapper > .items > li {
  background: #fff;
  height: 40px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin: 2px;
}

.contact {
  background-image: url("../img/illustration-contact-form.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 327px;
}

.contact > h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #172b4d;
  margin: 20px auto;
}

.contact > form {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.contact > form > .contact-inputs {
  margin: 15px auto;
}

.contact > form > .contact-inputs > textarea,
.contact > form > .contact-inputs > input {
  width: 84%;
  padding: 5px 24px;
  margin: 15px auto;
  border-radius: 4px;
  background: #fff;
}

.contact > form > .contact-inputs > input {
  height: 36px;
  background: #fff;
  border: 1px solid #d0d9d4;
}

.contact > form > .contact-inputs > textarea {
  border: 1px solid #60c095;
  height: 116px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

.social-icons > .end-icons {
  top: 2px;
}

.social-icons > .end-icons > li {
  top: 2px;
  font-size: 20px;
}

footer > .email-container {
  width: 375px;
  height: 185px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin: 0 auto;
}

footer > .email-container > p {
  padding-top: 25px;
}

footer > .email-container > hr {
  width: 150px;
  height: 5px;
  margin: 100px auto 10px auto;
  background-color: #3a4a42;
  border-radius: 4px;
}

footer {
  margin-bottom: 20px;
}
