/* Project: Personal Portfolio
   Author: Calvince
   Date: 6/02/2021
*/

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* General body rules */

body {
  background: #e5e5e5;
}

a {
  text-decoration: none;
  color: #28352f;
}

ul {
  list-style-type: none;
}

header,
main,
footer {
  background-color: #fff;
  width: 99vw;
  margin: auto;
}

button:hover {
  background-color: rgb(41, 29, 105);
  cursor: pointer;
  color: #36b37e;
}

#menubar {
  width: 365px;
  height: 50px;
  position: relative;
  top: 15px;
  margin: auto;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  top: -8px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 10px 5px 5px 0;
}

.hamburger > span {
  position: absolute;
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
}

.hamburger span:nth-child(1) {
  top: 5px;
}

.hamburger span:nth-child(2) {
  top: 12px;
}

.hamburger span:nth-child(3) {
  top: 19px;
}

#header-container,
#recent-works,
#about,
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  margin: auto;
  text-align: center;
}

#header-container {
  height: 860px;
  background-image: url("../img/Header-llustration-desktop@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  height: 72px;
  width: 100%;
  top: 5px;
  position: absolute;
  text-align: center;
}

.navbar > ul {
  height: 40px;
  width: 325px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.navbar > ul > li > a {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.headline {
  width: 100%;
  position: relative;
  top: -55px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content,
.social-network-icons {
  width: 670px;
  margin: auto;
  text-align: center;
}

.content > h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0.376px;
  text-align: center;
  color: #172b4d;
}

.content > h2 > span {
  color: #36b37e;
}

.content > p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin: 18px auto 0 auto;
}

.social-network-icons {
  width: 155px;
  margin: 25px auto;
}

.social-network-icons > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-carret {
  width: 40px;
  height: 40px;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

.scroll-carret > span {
  padding: 25px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

/* Recent works section */
#recent-works {
  margin: 50px auto 0 auto;
  text-align: center;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.card-wrapper,
.contact-wrapper {
  width: 1155px;
  padding: 4px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
}

.card {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 240px 210px;
  width: 369px;
  height: 100%;
  box-shadow: 2px 2px 5px #e3e6e3;
  margin: 10px 0;
}

.card-image {
  background: #eef0ee;
}

.card-details {
  width: 369px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: #fff;
  align-items: center;
  margin-top: -5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-details > h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.card-details > ul {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px 12px;
  flex: none;
  margin: 0 8px;
  justify-content: space-between;
}

.card-details > ul > li {
  background: #ebf0ee;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 5px 10px;
}

.repo-button,
.resume-button {
  height: 48px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #36b37f;
  border-radius: 4px;
}

.repo-button {
  width: 128px;
}

#info {
  margin: 50px auto;
}

.info-wrapper {
  height: 708px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.info {
  height: 228px;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 5px auto;
}

.info h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.info > p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.resume-button {
  width: 138px;
  margin: 0 8px;
}

.skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-card {
  height: 352px;
  width: 369px;
  border-radius: 8px;
  background: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 28px 8px;
}

.details > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  color: #172b4d;
  margin: 30px auto;
}

.details > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  margin: 8px;
  justify-content: center;
  color: #36b37e;
  flex-wrap: wrap;
}

.details > ul > li {
  background: #fff;
  height: 30px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin: 2px;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 226px 310px;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
  height: 252px;
}

.contact-wrapper > .details {
  width: 426px;
}

.contact-wrapper > .details,
.contact-wrapper > form {
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.contact-wrapper > .details > h6 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  align-items: center;
  color: #172b4d;
}

.contact-wrapper > form {
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

.input-wrapper {
  width: 100%;
}

.user-names {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.user-names > input:last-child {
  margin-left: 8px;
}

.user-names > input,
.input-wrapper > input,
.input-wrapper > textarea {
  width: 99%;
  border-radius: 4px;
  outline: none;
}

.user-names > input,
.input-wrapper > input {
  background: #fff;
  border: 1px solid #d0d9d4;
  height: 24px;
  padding: 2px;
  font-size: 12px;
}

.input-wrapper > textarea {
  border: 1px solid #60c095;
  height: 84px;
  border-radius: 4px;
}

.input-wrapper > textarea::placeholder {
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  font-style: normal;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.contact-button > button {
  height: 34px;
  width: 115px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.03em;
  background-color: #36b37e;
  color: #fff;
}

hr {
  background: #dfe1e6;
  color: #dfe1e6;
  margin: 0 auto;
}

footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 8px auto;
}

@media (max-width: 480px) {
  #header-container > .navbar {
    display: none;
  }

  header {
    display: block;
    margin: 0 auto 5px auto;
  }

  #menubar > ul {
    padding: 0 10px;
    width: 305px;
    margin: 0 auto;
  }

  .content {
    width: 280px;
  }

  #header-container,
  #recent-works,
  #about,
  #contact {
    width: 340px;
    margin: auto;
  }

  #header-container {
    height: 580px;
  }

  .headline {
    top: 30px;
  }

  .headline > .content {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .headline > .content > h2 {
    text-align: center;
  }

  #recent-works {
    padding-top: 25px;
  }

  .card-wrapper,
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .card {
    width: 98%;
    margin: 8px auto;
  }

  .card-details,
  .card-image {
    width: 100%;
  }

  .skills {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .info {
    width: 100%;
  }

  .simple-card {
    width: 98%;
    margin: 5px auto;
  }

  .contact-wrapper > .details,
  .contact-wrapper form {
    width: 100%;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  hr {
    width: 340px;
    margin: auto;
  }
}

@media (min-width: 576px) {
  #header-container > .navbar {
    display: none;
  }

  #header-container,
  #recent-works,
  #about,
  #contact {
    width: 540px;
    margin: auto;
  }

  header {
    display: block;
    margin: 0 auto 5px auto;
  }

  #menubar {
    width: 100%;
  }

  #menubar > ul {
    padding: 0 10px;
    width: 520px;
    margin: 0 auto;
  }

  #header-container {
    height: 660px;
  }

  .headline {
    top: 30px;
  }

  .content {
    width: 420px;
  }

  #recent-works {
    padding-top: 25px;
  }

  .card-wrapper,
  .contact-wrapper {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .card {
    width: 98%;
    margin: 8px auto;
  }

  .card-details,
  .card-image {
    width: 100%;
  }

  .skills {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .info {
    width: 100%;
  }

  .simple-card {
    width: 98%;
    margin: 5px auto;
  }

  .contact-wrapper .details,
  .contact-wrapper form {
    width: 100%;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  hr {
    width: 540px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  header {
    display: none;
  }

  #header-container > .navbar {
    display: block;
  }

  #header-container {
    height: 720px;
  }
}

@media (min-width: 1024px) {
  header {
    display: none;
  }

  #header-container,
  #recent-works,
  #about,
  #contact {
    width: 992px;
    margin: auto;
  }

  #header-container {
    height: 860px;
  }

  .headline {
    top: -60px;
  }

  .content {
    width: 820px;
  }

  #recent-works {
    padding-top: 25px;
  }

  .card-wrapper,
  .contact-wrapper {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .card {
    width: 320px;
    margin: 8px auto;
  }

  .card-details,
  .card-image {
    width: 100%;
  }

  .card-wrapper {
    flex-direction: row;
  }

  .skills {
    flex-direction: row;
    margin: 0 5px;
    justify-content: space-between;
  }

  .info {
    width: 100%;
  }

  .simple-card {
    margin: 5px;
  }

  .contact-wrapper .details {
    width: 40%;
  }

  .contact-wrapper form {
    width: 60%;
  }

  .contact-wrapper {
    flex-direction: row;
    height: auto;
    flex-wrap: nowrap;
  }

  hr {
    width: 992px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  header {
    display: none;
  }

  #header-container,
  #recent-works,
  #about,
  #contact {
    width: 1182px;
    margin: auto;
  }

  #header-container {
    height: 960px;
  }

  .card {
    width: 380px;
    margin: 8px auto;
  }

  hr {
    width: 1182px;
    margin: auto;
  }
}
