/* Project: Personal Portfolio
   Author: Calvince
   Date: 6/02/2021
*/

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General body rules */

body {
  background: #fff;
}

a {
  text-decoration: none;
  color: #28352f;
}

/* Top Menu */

#menubar {
  width: 365px;
  height: 50px;
  position: relative;
  top: 15px;
  margin: auto;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 10px 20px 5px 0;
}

.hamburger > span {
  position: absolute;
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
}

.hamburger span:nth-child(1) {
  top: 5px;
}

.hamburger span:nth-child(2) {
  top: 12px;
}

.hamburger span:nth-child(3) {
  top: 19px;
}

.headine-wraper {
  width: 375px;
  height: 650px;
  background-image: url("../img/header-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px auto;
}

.headline {
  position: relative;
  top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: #172b4d;
}

.headline h1,
.works-container > .header {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 58px;
  color: #172b4d;
  letter-spacing: 0.35px;
}

.headline span {
  color: #36b37e;
}

.headline p {
  color: #172b4d;
  line-height: 30px;
  margin: 30px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.social {
  width: 120px;
  min-height: 25px;
  position: relative;
  top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.social span {
  color: #505f79;
  font-size: 35px;
  font-weight: 900;
}

/* scroll button section */

.scroll-button {
  width: 327px;
  height: 48px;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.scroll-button span {
  width: 40px;
  height: 40px;
  display: flex;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

/* Works Section */

.works-container {
  width: 375px;
  position: relative;
  top: 25px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  flex-direction: column;
}

.works-container > .header {
  width: 100%;
  padding: 35px auto;
  text-align: center;
}

.works-container > .header > #underline {
  width: 48px;
  height: 4px;
  background: #36b37e;
  margin: 45px auto;
  border-radius: 24px;
}

.card {
  width: 327px;
  margin:15px auto;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 252px 222px;
}

.card > .project-image {
    background: #eef0ee;
}

.card > .project-info {
  background: #fff;
  display: flex;
  margin-top: -5px;
  flex-direction: column;
  justify-content: space-around;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  align-items: center;
}
.card > .project-info > .project-name{
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
}

.card > .project-info .skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  flex: none;
  flex-grow: 0;
  margin: 0px 8px;
  width: 99%;
  justify-content: space-between;
}

.card > .project-info .skills > div {
  background: #ebf0ee;
  height: 30px;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.card > .project-info > .project-button{
  width: 148px;
  height: 58px;
  margin: 0 auto 25px auto;
}
.card > .project-info > .project-button > button{
  border-radius: 8px;
  letter-spacing: 0.03em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
  height: 100%;
  background: #36b37f;
}
