/* Project: Resume
   Author: Calvince
   Date: 12/06/2021
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap');

body {
  background-color: #e5e5e5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: 'Vollkorn', serif;
  font-size: 18px;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  color: #344563;
  transition: 100ms ease-in-out;
}

a:hover {
  opacity: 0.5;
}

button {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  outline: none;
  border: none;
}

button:hover {
  background-color: #55648a;
  color: #0ec956;
}

main,
footer {
  width: 92vw;
  margin: auto;
  background-color: #fff;
  text-align: center;
}

nav {
  height: 72px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.container {
  background-image: url(../img/Header-llustration-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.mobile-menu {
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.desktop-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}

.menu-toggle {
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.menu-toggle > span {
  display: flex;
  width: 40px;
  margin-bottom: 5px;
  border: 0.1244rem solid #3c444d;
  background-color: #3c444d;
  border-radius: 3px;
  transform-origin: 5px 0;
}

.menu-toggle > span:first-child {
  transform-origin: 0 0;
}

.menu-toggle > span:nth-last-child(2) {
  transform-origin: 0 100%;
}

.content {
  width: 96%;
  margin: 18px auto;
}

.content > .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.row > h2,
.row > p {
  width: 80%;
  margin: 0 auto;
  font-style: normal;
  color: #172b4d;
  text-align: center;
}

.row > h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.37px;
}

.row > h2 > span {
  color: #1d5d44;
}

.row > p {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
}

.social-icons {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 220px;
  margin: 25px auto;
}

.action {
  width: 60px;
  height: 50px;
  margin: 5px auto;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.action > span {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  transition: 0.3s;
}

.action > span:hover {
  background-color: #b6bfd6;
  border: 1px solid #0ec956;
  color: #fff;
}

.row > span {
  background: #36b37e;
  height: 5px;
  width: 20%;
  margin: 15px auto;
  border-radius: 24px;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 45px auto;
  justify-content: space-around;
}

.card {
  width: 327px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 252px 222px;
  margin: 15px auto;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
}

.card > .card-image {
  width: 100%;
  color: #ebf0ee;
}

.card > .card-image > img {
  width: 100%;
}

.card > .card-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
}

.card > .card-details > h4 {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
}

.card > .card-details > ul > li {
  float: left;
  margin: 5px;
  background-color: #ebf0ee;
  padding: 8px 12px;
  border-radius: 4px;
  font-family: 'Roboto', serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.card-btn {
  width: 120px;
  height: 35px;
  margin: 5px auto;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #1a694b;
  border-radius: 8px;
  font-family: 'Vollkorn', serif;
}

.card-btn:hover {
  background-color: #b6bfd6;
  color: #0ec956;
}

.resume-btn {
  width: 160px;
  margin-top: 25px;
}

.top-back-cover {
  width: inherit;
  background-image: url(../img/MaskGroup.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.bottom-back-cover {
  width: inherit;
  background-image: url(../img/illustration-about-mobile.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.simple-card {
  grid-template-rows: 140px 200px;
}

.simple-card > .card-details {
  background-color: #ebf0ee;
}

.simple-card > .card-details > ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.simple-card > .card-details > ul > li {
  float: none;
  background-color: #fff;
  color: #1a694b;
  padding: 8px 18px;
}

.simple-card > .card-image > img {
  margin-top: 35px;
  width: 125px;
}

.contact {
  display: grid;
  grid-template-columns: 35% 62%;
  grid-template-rows: 302px;
  align-items: center;
  justify-items: stretch;
  column-gap: 20px;
  margin: auto;
  text-align: center;
}

.contact > .text > h4 {
  font-family: 'Vollkorn', serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #172b4d;
  width: 80%;
  margin: auto;
}

.contact > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact > .text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.name-input-wrapper,
.input-wrapper {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-input-wrapper > input {
  width: 48%;
  outline: none;
}

.name-input-wrapper > input,
.input-wrapper > input,
.input-wrapper > textarea {
  font-family: 'Vollkorn', serif;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

.name-input-wrapper > input,
.input-wrapper > input {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 32px;
}

.input-wrapper > input,
.input-wrapper > textarea {
  width: 100%;
  outline: none;
}

.input-wrapper > textarea {
  height: 125px;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
}

label {
  display: none;
}

.contact-button {
  width: 150px;
  height: 26px;
  background: #1a694b;;
}

.contact-cover-right {
  width: inherit;
  background-image: url(../img/contact-form-illustratoin-3-desktop.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 105px;
}

.contact-cover-left {
  width: inherit;
  height: 125px;
  background-image: url(../img/illustration-1-contact-form-desktop.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 85px;
}

.center-cover {
  width: inherit;
  height: inherit;
  background-image: url(../img/illustration-2-contact-form-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}

hr {
  width: 100%;
  background: #d5d7db;
  margin: 0 auto;
}

footer {
  margin-top: -18px;
  margin-bottom: 25px;
}

/* Large devices (desktops, less than 1200px) */

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  .row > h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
  }

  .row > p {
    font-size: 20px;
    line-height: 32px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

/* Medium devices (tablets, less than 992px) */

@media screen and (max-width: 992px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  .row > h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
  }

  .row > p {
    font-size: 20px;
    line-height: 32px;
  }

  main,
  footer {
    width: 987px;
  }

  .card {
    width: 450px;
    margin-top: 5px;
  }

  .card > .card-details > h3 {
    font-size: 34px;
  }

  .card > .card-details > ul > li {
    font-size: 16px;
    padding: 8px 20px;
  }
}

/* Medium devices (tablets, less than 800px) */

@media screen and (max-width: 800px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  main,
  footer {
    width: 795px;
  }

  .card {
    width: 400px;
    margin-top: 5px;
  }

  .card > .card-details > h3 {
    font-size: 30px;
  }

  .card > .card-details > ul > li {
    font-size: 14px;
    padding: 8px 16px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 70%;
    margin: auto;
  }

  .contact > h4 {
    text-align: center;
    margin-bottom: 25px;
  }
}

/* Medium devices (tablets, less than 786px) */

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: flex;
  }

  .desktop-menu {
    display: none;
  }

  main,
  footer {
    width: 763px;
  }

  .card {
    width: 370px;
    margin-top: 5px;
  }

  .card > .card-details > h3 {
    font-size: 28px;
  }

  .card > .card-details > ul > li {
    font-size: 14px;
    padding: 8px 14px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 75%;
    margin: auto;
  }

  .contact > .text > h4 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
  }
}

/* small devices (portrait phones, less than 576px) */

@media screen and (max-width: 576px) {
  .mobile-menu {
    display: flex;
  }

  .desktop-menu {
    display: none;
  }

  main,
  footer {
    width: 569px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 60%;
    margin: auto;
  }

  .contact > h4 {
    text-align: center;
    margin-bottom: 25px;
  }
}

/* Extra small devices (portrait phones, less than 415px) */

@media screen and (max-width: 414px) {
  .mobile-menu {
    display: flex;
  }

  .desktop-menu {
    display: none;
  }

  main,
  footer {
    width: 399px;
  }

  .card {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .card > .card-details > h3 {
    font-size: 30px;
  }

  .card > .card-details > ul > li {
    font-size: 13px;
    padding: 8px 11px;
  }

  .simple-card > .card-details > ul > li {
    padding-left: 17px;
    padding-right: 17px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 64%;
    margin: auto;
  }

  .contact > h4 {
    text-align: center;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 375px) {
  .mobile-menu {
    display: flex;
  }

  .desktop-menu {
    display: none;
  }

  main,
  footer {
    width: 370px;
  }

  .card {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .card > .card-details > h3 {
    font-size: 28px;
  }

  .card > .card-details > ul > li {
    font-size: 12px;
    padding: 8px 10px;
  }

  .simple-card > .card-details > ul > li {
    padding-left: 16px;
    padding-right: 16px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 85%;
    margin: auto;
  }

  .contact > h4 {
    text-align: center;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 360px) {
  .mobile-menu {
    display: flex;
  }

  .desktop-menu {
    display: none;
  }

  main,
  footer {
    width: 355px;
  }

  .card {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .card > .card-details > h3 {
    font-size: 26px;
  }

  .card > .card-details > ul > li {
    font-size: 12px;
    padding: 8px 8px;
  }

  .simple-card > .card-details > ul > li {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  .contact > h4 {
    text-align: center;
    margin-bottom: 25px;
  }
}
